<article class="dossier">
    <h1>DOSSIER N°<%= Dossier.id %></h1>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#assure">Assuré</a></li>
                <li class="tab col s3"><a href="#garage">Garage</a></li>
            </ul>
        </div>
        <div id="assure" class="col s12">
            <h2>Assuré</h2>
            <ul>
                <li>Nom et prénom : <%= Assure.entite.nom_prenom %></li>
                <li>Téléphone : <%= Utils.displayTel(Assure.entite.telephone_portable) %></li>
            </ul>
        </div>

        <% var garage = _.where(membres, {qualite: 'Garage'}); %>
        <% if(garage != null) { %>
            <div id="garage" class="col s12">
                <h2>Garage</h2>
                <ul>
                    <li>Nom : <%= garage[0].entite.libelle %></li>
                    <li>Téléphone : <%= Utils.displayTel(Assure.tel) %></li>
                </ul>
            </div>
        <% } %>
    </div>
</article>