<article id="assure">
    <ul>
        <li>Nom prénom : <%= Assure.entite.nom_prenom %></li>
        <li>Adresse : <%= Assure.entite.adresse.adresse1 %></li>
        <li>Complément d'adresse : <%= Assure.entite.adresse.adresse2 %></li>
        <li>Code postal : <%= Assure.entite.adresse.cp %></li>
        <li>E-mail: <%= Assure.entite.email %></li>
        <li>Téléphone : <%= Assure.entite.email %></li>
        <li>Mobile  : <%= Assure.entite.email %></li>
        <li>Fax : <%= Assure.entite.email %></li>
    </ul>
</article>