<article>
    <ul>
        <li> Immatriculation : <%= nom_prenom %></li>
        <li> Numéro de série : <%= nom_prenom %></li>
        <li> Marque : <%= nom_prenom %></li>
        <li> Modèle : <%= nom_prenom %></li>
        <li> Date de mise en circulation : <%= nom_prenom %></li>
        <li> Année de parution du modèle : <%= nom_prenom %></li>
        <li> Genre : <%= nom_prenom %></li>
        <li> Énergie : <%= nom_prenom %></li>
        <li> Puissance fiscale : <%= nom_prenom %></li>
        <li> Kilométrage : <%= nom_prenom %></li>
        <li> Couleur du véhicule : <%= nom_prenom %></li>
    </ul>
</article>